

<div  layout="column" layout-align="center center">
    <link href="~/css/formArticulo.css" rel="stylesheet" />
    <form name="frmArticulos" ng-model="frmArticulos" class="formArticulos md-whiteframe-6dp" layout="column">
        <md-toolbar md-color="#2196F3" class="formArticulosToolBar">
            <div class="md-toolbar-tools">
                <h2 class="md-flex"><span class="mif-cart">  Ingresar Articulo Nuevo</span></h2>
            </div>
        </md-toolbar>
        <!--md-theme="TemaDark"-->
        <md-content layout="column" class="formArticulosContent" flex layout-padding>
            <div  class="" layout="row" layout-align="space-between center">
                <md-input-container layout="column" class="formArticuloCampo">
                    <label>Articulo</label>
                    <input ng-model="articuloNombre" name="farticuloNombre" required>
                    <div ng-messages="frmArticulos.farticuloNombre.$error" >
                        <div ng-message="required">Este campo es requerido.</div>
                    </div>
                </md-input-container>
                <md-input-container layout ="column" class="formArticuloCampo">
                    <label>Fabricante</label>
                    <input ng-model="articuloFabricante" name="farticuloFabricante"  required>
                    <div ng-messages="frmArticulos.farticuloFabricante.$error">
                        <div ng-message="required">Este campo es requerido.</div>
                    </div>
                </md-input-container>
                <md-input-container layout="column" class="formArticuloCampo">
                    <label>Serie</label>
                    <input ng-model="articuloSerie" name="farticuloSerie" required>
                    <div ng-messages="frmArticulos.farticuloSerie.$error">
                        <div ng-message="required">Este campo es requerido.</div>
                    </div>
                </md-input-container>
                <md-input-container layout="column" class="formArticuloCampo">
                    <label>Modelo</label>
                    <input ng-model="articuloModelo" name="farticuloModelo" required>
                    <div ng-messages="frmArticulos.farticuloModelo.$error">
                        <div ng-message="required">Este campo es requerido.</div>
                    </div>
                </md-input-container>
                <md-input-container layout="column" class="formArticuloCampo">
                    <label>Factura</label>
                    <input ng-model="articuloFactura" name="farticuloFactura" required>
                    <div ng-messages="frmArticulos.farticuloFactura.$error">
                        <div ng-message="required">Este campo es requerido.</div>
                    </div>
                </md-input-container>
            </div>

            <div class="" layout="row" layout-align="space-between center">
                <md-input-container layout="column" class="formArticuloCampo">
                    <label>Proveedor</label>
                    <input ng-model="articuloProveedor" name="farticuloProveedor" required>
                    <div ng-messages="frmArticulos.farticuloProveedor.$error">
                        <div ng-message="required">Este campo es requerido.</div>
                    </div>
                </md-input-container>
                <md-input-container layout="column" class="formArticuloCampo">
                    <label>Departamento</label>
                    <md-select ng-model="articuloDepto" name="farticuloDepto" required>
                        <md-option ng-repeat="depto in deptos" value="{{depto}}">{{depto}}</md-option>
                    </md-select>
                    <div ng-messages="frmArticulos.farticuloDepto.$error">
                        <div ng-message="required">Este campo es requerido.</div>
                    </div>
                </md-input-container>
                <md-input-container layout="column" class="formArticuloCampo">
                    <label>Categoria</label>
                    <md-select ng-model="articuloCategoria" name="farticuloCategoria" required>
                        <md-option ng-repeat="cat in categoria" value="{{cat}}">{{cat}}</md-option>
                    </md-select>
                    <div ng-messages="frmArticulos.farticuloCategoria.$error">
                        <div ng-message="required">Este campo es requerido.</div>
                    </div>
                </md-input-container>
                <md-input-container layout="column" class="formArticuloCampo">
                    <label>Estatus</label>
                    <md-select ng-model="articuloEstatus" name="farticuloEstatus" required>
                        <md-option ng-repeat="est in estatus" value="{{est}}">{{est}}</md-option>
                    </md-select>
                    <div ng-messages="frmArticulos.farticuloEstatus.$error">
                        <div ng-message="required">Este campo es requerido.</div>
                    </div>
                </md-input-container>
                <md-input-container layout="column" class="formArticuloCampo">
                    <label>Cantidad</label>
                    <input ng-model="articuloCantidad" style="min-width: 180px;" name="farticuloCantidad" min="1" type="number" step="1" required>
                    <div ng-messages="frmArticulos.farticuloCantidad.$error">
                        <div ng-message="required">Este campo es requerido.</div>
                        <div ng-message="min">Este campo es requerido.</div>
                    </div>
                </md-input-container>

            </div>

            <div class="" layout="row" layout-align="space-between center">
                <md-input-container layout="column" class="formArticuloCampo">
                    <label>Precio</label>
                    <input ng-model="articuloPrecio" name="farticuloPrecio" min="1" style="min-width: 180px;" type="number" step="0.01" required>
                    <div ng-messages="frmArticulos.farticuloPrecio.$error">
                        <div ng-message="required">Este campo es requerido.</div>
                        <div ng-message="min">Este campo es requerido.</div>
                    </div>
                </md-input-container>
                <md-datepicker ng-model="articuloFecha" class="formDatePicker" md-placeholder="Fecha de Alta">{{articuloDia}}</md-datepicker>
                <md-input-container class="formArticuloRichText">
                    <label>Descripcion</label>
                    <textarea ng-model="articuloDescripcion" name="farticuloDescripcion" md-maxlength="100" rows="3" md-select-on-focus required></textarea>
                    <div ng-messages="frmArticulos.farticuloDescripcion.$error">
                        <div ng-message="required">Este campo es requerido.</div>
                        <div ng-message="md-maxlength">no puede exceder de 100 caracteres</div>
                    </div>
                 </md-input-container>
                <md-input-container class="formArticuloRichText">
                    <label>Observaciones</label>
                    <textarea ng-model="articuloObservaciones" name="farticuloObservaciones" md-maxlength="100" rows="3" md-select-on-focus></textarea>
                    <div ng-messages="frmArticulos.farticuloObservaciones.$error">
                        <div ng-message="md-maxlength">no puede exceder de 100 caracteres</div>
                    </div>
                 </md-input-container>
               
            </div>

        </md-content>
        <md-toolbar md-theme="TemaDark" layout="row" layout-align="end center" layout-fill class="formArticulosToolBarFeet">
            <md-button class="md-raised md-primary SumbmintThemeDark" ng-click="frmArticulos.$valid && agregarArticulo()">{{!articuloID ? 'Agregar' : 'Actualizar'}}</md-button>
        </md-toolbar>
    </form>

    <div class="formArticulosDataTable">
        <table datatable="ng" dt-options="dtOptions"  dt-column-defs="dtColumnDefs" class="row-border hover mdl-data-table" style="max-width:1162px;" cellspacing="0" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Fabricante</th>
                    <th>Categoria</th>
                    <th>Estatus</th>
                    <th>Fecha Alta</th>
                    <th>Cantidad</th>
                    <th>Cantidad Dispo.</th>
                    <th>Proveedor </th>
                    <th>ID Stock </th>
                    <th>Serie </th>
                    <th>Modelo </th>
                    <th>Factura </th>
                    <th>Descripcion </th>
                    <th>Observacion </th>
                    <th>Operaciones </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="articulo in articulos">
                  <td>{{ articulo.ID }}</td>
                  <td>{{ articulo.Nombre }}</td>
                  <td>{{ articulo.Fabricante }}</td>
                  <td>{{ articulo.Tipo }}</td>
                  <td>{{ articulo.Estatus }}</td>
                  <td>{{ articulo.FechaAlta | dateFilter | date:"dd-MM-yyyy" }}</td>
                  <td>{{ articulo.Cantidad }}</td>
                  <td>{{ articulo.CantidadDisponible }}</td>
                  <td>{{ articulo.Proveedor }}</td>
                  <td>{{ articulo.ID_Stock }}</td>
                  <td>{{ articulo.Serie }}</td>
                  <td>{{ articulo.Modelo }}</td>
                  <td>{{ articulo.Factura }}</td>
                  <td>{{ articulo.Descripcion}}</td>
                  <td>{{ articulo.Observaciones }}</td>
                  <td>
                      <div>
                          <md-button class="md-fab md-mini md-primary" aria-label="Editar" ng-click="EditarArticulo(articulo)">
                              <i class="fa fa-pencil" fa-lg aria-hidden="true" style="color: white;"></i>
                          </md-button>
                          <md-button class="md-fab md-mini md-hue-1" aria-label="Borrar" ng-click="BorrarArticulo(articulo)">
                              <i class="fa fa-trash-o" fa-lg aria-hidden="true" style="color: white;"></i>
                          </md-button>
                      </div>
                  </td>
    </tr>
            </tbody>
        </table>
    </div>

</div>
